<div class="_x_gf_xzg_">
  <div class="_xfg_xgf_x">
    <div class="_dg_xg_">
      <div class="_sfd_xfg">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        	 viewBox="0 0 83.3 87" style="enable-background:new 0 0 83.3 87;" xml:space="preserve">
        <path style="fill: #FFF;" d="M33.3,0v22.6L13.7,41.5L1.9,30.4L33.3,0z M0,32.2L0,32.2v22.6L33.3,87V64.4L0,32.2z M50,64.4V87l31.1-30L69.2,45.9L50,64.4z
        	 M83.3,54.8L83.3,54.8V32.2L50,0v22.6L83.3,54.8z"/>
        </svg>
      </div>
      <h1>Hagamos un poco de magia para ti</h1>
      <button type="button" class="sesion_btn_g" (click)="login()">Iniciar sesión con Google</button>
    </div>
  </div>
</div>
