{
  "name": "{{ DofCode }} Consola",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "sass/index.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"assets/css/dofcode.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "sass/components/home/home.component.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"app/components/home/home.component.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "sass/components/menu/_menu_g.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"app/components/header/header.component.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "sass/components/login/login.component.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"app/components/login/login.component.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "sass/components/profile/profile.component.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"app/components/profile/profile.component.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "sass/components/proyecto_global/proyecto.component.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"app/components/proyecto/proyecto.component.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "sass/components/info_p/info.component.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"app/components/info/info.component.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "sass/components/help/help.component.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"app/components/help/help.component.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "sass/components/footer/footer.component.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"app/components/footer/footer.component.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "sass/components/not_found/not-found.component.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"app/components/not-found/not-found.component.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "sass/dofcode.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dofcode.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "sass/components/chat_proyecto/chat.component.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"app/components/chat/chat.component.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "sass/components/proyecto_global",
      "sass",
      "sass/components",
      "sass/components/chat_proyecto"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "sass/dofcode.scss",
      "imports": [
        "sass/components/_prefixer.scss",
        "sass/components/_mixins.scss",
        "sass/components/_color.scss",
        "sass/components/_variables.scss",
        "sass/components/_normalize.scss",
        "sass/components/_global.scss",
        "sass/components/_roboto.scss",
        "sass/components/_typography.scss",
        "sass/components/_modal.scss",
        "sass/components/_collapsible.scss",
        "sass/components/_tooltip.scss",
        "sass/components/_iconos_dofcode.scss",
        "sass/components/_global_dofcode.sass",
        "sass/components/owl/_core.scss",
        "sass/components/owl/_animate.scss",
        "sass/components/owl/_autoheight.scss",
        "sass/components/owl/_lazyload.scss",
        "sass/components/owl/_video.scss",
        "sass/components/owl/_theme.default.scss",
        "sass/components/_variables_dof.sass",
        "sass/components/owl/_theme.scss"
      ]
    },
    {
      "path": "js/js/index.js",
      "imports": [
        "js/jquery.easing.1.3.js",
        "js/global.js",
        "js/scrollspy.js",
        "js/parallax.js",
        "js/carousel.js",
        "js/pushpin.js",
        "js/lazy.js",
        "js/owl_carousel/owl.carousel.js",
        "js/owl_carousel/owl.lazyload.js",
        "js/index.js"
      ]
    },
    {
      "path": "sass/components/_global_dofcode.sass",
      "imports": [
        "sass/components/_variables_dof.sass"
      ]
    },
    {
      "path": "sass/components/footer/footer.component.sass",
      "imports": [
        "sass/components/_variables_dof.sass"
      ]
    },
    {
      "path": "sass/components/forms/_forms.scss",
      "imports": [
        "sass/components/forms/_input-fields.scss",
        "sass/components/forms/_radio-buttons.scss",
        "sass/components/forms/_checkboxes.scss",
        "sass/components/forms/_switches.scss",
        "sass/components/forms/_select.scss",
        "sass/components/forms/_file-input.scss",
        "sass/components/forms/_range.scss"
      ]
    },
    {
      "path": "sass/components/help/help.component.sass",
      "imports": [
        "sass/components/_variables_dof.sass"
      ]
    },
    {
      "path": "sass/components/home/home.component.sass",
      "imports": [
        "sass/components/_variables_dof.sass"
      ]
    },
    {
      "path": "sass/components/info_p/info.component.sass",
      "imports": [
        "sass/components/_variables_dof.sass"
      ]
    },
    {
      "path": "sass/components/login/login.component.sass",
      "imports": [
        "sass/components/_variables_dof.sass"
      ]
    },
    {
      "path": "sass/components/menu/_menu_g.sass",
      "imports": [
        "sass/components/_variables_dof.sass"
      ]
    },
    {
      "path": "sass/components/not_found/not-found.component.sass",
      "imports": [
        "sass/components/_variables_dof.sass"
      ]
    },
    {
      "path": "sass/components/owl/owl.carousel.scss",
      "imports": [
        "sass/components/owl/_core.scss",
        "sass/components/owl/_animate.scss",
        "sass/components/owl/_autoheight.scss",
        "sass/components/owl/_lazyload.scss",
        "sass/components/owl/_video.scss"
      ]
    },
    {
      "path": "sass/components/owl/owl.theme.default.scss",
      "imports": [
        "sass/components/owl/_theme.default.scss",
        "sass/components/owl/_theme.scss"
      ]
    },
    {
      "path": "sass/components/owl/owl.theme.green.scss",
      "imports": [
        "sass/components/owl/_theme.green.scss",
        "sass/components/owl/_theme.scss"
      ]
    },
    {
      "path": "sass/components/owl/_theme.default.scss",
      "imports": [
        "sass/components/owl/_theme.scss"
      ]
    },
    {
      "path": "sass/components/owl/_theme.green.scss",
      "imports": [
        "sass/components/owl/_theme.scss"
      ]
    },
    {
      "path": "sass/components/profile/profile.component.sass",
      "imports": [
        "sass/components/_variables_dof.sass"
      ]
    },
    {
      "path": "sass/components/proyecto_global/proyecto.component.sass",
      "imports": [
        "sass/components/_variables_dof.sass"
      ]
    },
    {
      "path": "sass/components/chat_proyecto/chat.component.sass",
      "imports": [
        "sass/components/_variables_dof.sass"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7882,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "http://localhost:4200"
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 7 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"],\"autoCompile\":false}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}